@font-face {
    font-family: 'Industry';
    src: url('Industry-Medium.eot');
    src: local('Industry Medium'), local('Industry-Medium'),
        url('Industry-Medium.eot?#iefix') format('embedded-opentype'),
        url('Industry-Medium.woff') format('woff'),
        url('Industry-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
